<section id="delete" class="container">
  <div class="form-wrap">
    <h1>Delete a customer</h1>

    {{!-- Display errors here --}}
    {{#each errors}}
    <div class="error">
      <p>{{text}}</p>
    </div>
    {{/each}}

    {{!-- Display success message here --}}
    {{#each successMessage}}
    <div class="error">
      <p>{{messageText}}</p>
    </div>
    {{/each}}

    {{!-- Delete booking form --}}
    <form action="/customer/delete-customer" method="POST">

      {{!-- Customer Id --}}
      <div class="input-group">
        <label for="customerIdDelete">Customer Id</label>
        <input type="text" name="customerIdDelete" id="customerIdDelete" class="input-box" placeholder="e.g. 10"
          maxlength="30">
      </div>

      {{!-- Submit button --}}
      <input type="submit" value="Delete customer" class="btn btn-reverse">

      {{!-- Back button --}}
      <button class="btn btn-info btn-md add-button">
        <a href="/customer">
          Back to Customer
        </a>
      </button>

</section>