<section id="delete" class="container">
  <div class="form-wrap">
    <h1>delete a customer</h1>
    {{#each errors}}
    <div class="error">
      <p>{{text}}</p>
    </div>
    {{/each}}
    <form action="/customer/delete-customer" method="POST">
      {{!-- booking date --}}
      <div class="input-group">
        <label for="customerIdDelete">Customer Id</label>
        <input type="text" name="customerIdDelete" id="customerIdDelete" class="input-box" placeholder="e.g. 10"
          maxlength="30" value={{bookingId}}>
      </div>
      <input type="submit" value="Delete customer" class="btn btn-reverse">
</section>