<section id="search" class="search-wrap">
    <h1>Travel Agency Application</h1>
    <h2>Enter a Starting Location</h2>
    <form action="/flight/homeSearch" class="search-form bg-white">
        {{!-- <i class="fas fa-search"></i> --}}
        <input type="search" name="startLocationValue1" id="startLocationValue1"
            placeholder="Vancouver, Los Angeles, New York, Amasterdam etc..." style="width: 600px">
    </form>
</section>